EbayWebServer-JAVA/WebContent/wsdl/Auth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nilam.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://nilam.com" xmlns:intf="http://nilam.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://nilam.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="signup">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signupResponse">
    <complexType>
     <sequence>
      <element name="signupReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signin">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signinResponse">
    <complexType>
     <sequence>
      <element name="signinReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="signinResponse">

      <wsdl:part element="impl:signinResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signupRequest">

      <wsdl:part element="impl:signup" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signupResponse">

      <wsdl:part element="impl:signupResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signinRequest">

      <wsdl:part element="impl:signin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Auth">

      <wsdl:operation name="signup">

         <wsdl:input message="impl:signupRequest" name="signupRequest">

       </wsdl:input>

         <wsdl:output message="impl:signupResponse" name="signupResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signin">

         <wsdl:input message="impl:signinRequest" name="signinRequest">

       </wsdl:input>

         <wsdl:output message="impl:signinResponse" name="signinResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthSoapBinding" type="impl:Auth">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="signup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signupRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signupResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="signin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signinRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signinResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthService">

      <wsdl:port binding="impl:AuthSoapBinding" name="Auth">

         <wsdlsoap:address location="http://localhost:8080/EbayWebServer/services/Auth"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
