EbayWebServer-JAVA/WebContent/wsdl/Bidding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nilam.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://nilam.com" xmlns:intf="http://nilam.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://nilam.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="place">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
      <element name="productId" type="xsd:string"/>
      <element name="bidAmount" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="placeResponse">
    <complexType>
     <sequence>
      <element name="placeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="placeRequest">

      <wsdl:part element="impl:place" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="placeResponse">

      <wsdl:part element="impl:placeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Bidding">

      <wsdl:operation name="place">

         <wsdl:input message="impl:placeRequest" name="placeRequest">

       </wsdl:input>

         <wsdl:output message="impl:placeResponse" name="placeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BiddingSoapBinding" type="impl:Bidding">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="place">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="placeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="placeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BiddingService">

      <wsdl:port binding="impl:BiddingSoapBinding" name="Bidding">

         <wsdlsoap:address location="http://localhost:8080/EbayWebServer/services/Bidding"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
