EbayWebServer-JAVA/WebContent/wsdl/Products.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nilam.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://nilam.com" xmlns:intf="http://nilam.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://nilam.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="get">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getResponse">
    <complexType>
     <sequence>
      <element name="getReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="create">
    <complexType>
     <sequence>
      <element name="query" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createResponse">
    <complexType>
     <sequence>
      <element name="createReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getResponse">

      <wsdl:part element="impl:getResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getRequest">

      <wsdl:part element="impl:get" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part element="impl:create" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createResponse">

      <wsdl:part element="impl:createResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Products">

      <wsdl:operation name="get">

         <wsdl:input message="impl:getRequest" name="getRequest">

       </wsdl:input>

         <wsdl:output message="impl:getResponse" name="getResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdl:input message="impl:createRequest" name="createRequest">

       </wsdl:input>

         <wsdl:output message="impl:createResponse" name="createResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductsSoapBinding" type="impl:Products">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="get">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductsService">

      <wsdl:port binding="impl:ProductsSoapBinding" name="Products">

         <wsdlsoap:address location="http://localhost:8080/EbayWebServer/services/Products"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
