EbayWebServer-JAVA/WebContent/wsdl/Records.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://nilam.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://nilam.com" xmlns:intf="http://nilam.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://nilam.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getsales">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getsalesResponse">
    <complexType>
     <sequence>
      <element name="getsalesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getpurchases">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getpurchasesResponse">
    <complexType>
     <sequence>
      <element name="getpurchasesReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getbids">
    <complexType>
     <sequence>
      <element name="userId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getbidsResponse">
    <complexType>
     <sequence>
      <element name="getbidsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getsalesResponse">

      <wsdl:part element="impl:getsalesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getbidsRequest">

      <wsdl:part element="impl:getbids" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getsalesRequest">

      <wsdl:part element="impl:getsales" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getpurchasesRequest">

      <wsdl:part element="impl:getpurchases" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getpurchasesResponse">

      <wsdl:part element="impl:getpurchasesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getbidsResponse">

      <wsdl:part element="impl:getbidsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Records">

      <wsdl:operation name="getsales">

         <wsdl:input message="impl:getsalesRequest" name="getsalesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getsalesResponse" name="getsalesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getpurchases">

         <wsdl:input message="impl:getpurchasesRequest" name="getpurchasesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getpurchasesResponse" name="getpurchasesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getbids">

         <wsdl:input message="impl:getbidsRequest" name="getbidsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getbidsResponse" name="getbidsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RecordsSoapBinding" type="impl:Records">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getsales">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getsalesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getsalesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getpurchases">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getpurchasesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getpurchasesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getbids">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getbidsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getbidsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RecordsService">

      <wsdl:port binding="impl:RecordsSoapBinding" name="Records">

         <wsdlsoap:address location="http://localhost:8080/EbayWebServer/services/Records"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
